@font-face {
  font-family: "Andada";
  font-style: normal;
  src: local("Andada"),
      url(../otf/andanda/Andada-Regular.otf) format("otf");
}

@font-face {
  font-family: "Roboto";
  font-size: normal;
  src: local("Roboto"),
    url(../otf/roboto/Roboto-Regular.ttf) format("otf");
}