$smallPadding: .5em;
$doubleSmallPadding: 3em;

$phlogistonUrl: url("../img/Phlogiston_STSCI-H-p0928a-k-1340x520.png");

$boxShadowSmall: 0 6px 12px rgba(0, 0, 0, .175);

$sepia: #fdf1dc;
$ironRed: #822000;
$orange: #e69a28;
$black: #000000;

$sidePadding: 0.15em;
$topPadding: 0.25em;

$panelTopOffset: 3.5em;
$panelSideOffset: 0.5em;

$panelMinWidth: 12em;
$panelMaxWidth: 70em;
$panelWidth: 60%;
$panelWidthSm: 95%;

$panelHeight: 41em;
$panelScrollableHeight: 40em;

$panelHighlightThickness: 0.3em;

$panelMinimisedWidth: 4em;
$panelMinimisedHeight: 4em;

$appSearchBarWidth: 24em;